@model Register
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<form asp-action="RegisterDealer" method="post">

    <div class="container text-center">
        <div class="mb-3">
            <label asp-for="Username"></label>
            <input asp-for="Username" class="form-control" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <br />
        <div class="mb-3">
            <label asp-for="Email"></label>
            <input type="Email" asp-for="Email" class="form-control" required />
            <span asp-validation-for="Email" class="text-danger"></span>>
        </div>
        <div class="mb-3">
            <label asp-for="Password"></label>
            <input type="password" asp-for="Password" class="form-control" required />
            <span asp-validation-for="Password" class="text-danger"></span>>

        </div>
        <br />
        <div>
            <button type="submit">Register</button>
        </div>
        <br />
        <div class="container" style="background-color:#f1f1f1">
            <button type="button" class="cancelbtn">Cancel</button>
            <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
    </div>

</form>