@model Register
@{
    ViewData["Title"] = "Register";
}

<h1>Register As Dealer</h1>

<form asp-action="RegisterDealer" method="post">

    <div class="container text-center">
        <div class="mb-3">
            <label asp-for="Username"></label>
            <input asp-for="Username" class="form-control" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <br />
        <div class="mb-3">
            <label asp-for="Email"></label>
            <input type="Email" asp-for="Email" class="form-control" required />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Password"></label>
            <input type="password" asp-for="Password" class="form-control" required />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="City"></label>
            <input  asp-for="City" class="form-control" required />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="State"></label>
            <input asp-for="State" class="form-control" required />
            <span asp-validation-for="State" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="PinCode"></label>
            <input asp-for="PinCode" class="form-control" required />
            <span asp-validation-for="PinCode" class="text-danger"></span>
        </div>
         <div class="mb-3">
           <label asp-for="PhoneNumber"></label>
            <input asp-for="PhoneNumber" class="form-control" required />
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <br />
        <div>
            <button type="submit" class="btn btn-primary">Register</button>
        </div>
        <br />
        <div class="container" style="background-color:#f1f1f1">
            <button type="button" class="cancelbtn">Cancel</button>
            <span class="psw">Forgot <a href="#">password?</a></span>
        </div>
    </div>

</form>